{% extends "base.html" %}

{% block title %}StudyKaki - Find Your Partner{% endblock %}

{% block navbar %}
<nav class="navbar" style="background: #fff; border-bottom: 3px solid #111; padding: 15px 40px; display: flex; align-items: center; width: 100%;">
    <div class="nav-left">
    <a href="{{ url_for('dashboard') }}">
        <h1>STUDY<span>KAKI</span></h1>
    </a>
</div>
</nav>
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <div class="landing-page">
        
        <div class="hero-section">
            
            <div class="hero-text-side">
                <h2 class="hero-title">
                    FIND YOUR PERFECT<br>
                    <span class="title-highlight">STUDY PARTNER</span>
                </h2>
                
                <p class="hero-description">
                    Tired of debugging alone in MMU? Join <span style="font-weight: 900; color: #111;">STUDY<span style="color: #a7f3d0; -webkit-text-stroke: 1px #111;">KAKI</span></span> to find partners, post quests,
                    and earn Kaki Coins with the brightest minds.
                </p>
            </div>

            <div class="hero-btn-side">
                <a href="{{ url_for('register') }}" class="big-neo-btn btn-register">
                    NEW COMER? (REGISTER)
                </a>
                <a href="{{ url_for('login') }}" class="big-neo-btn btn-login">
                    MEMBER BACK? (LOG IN)
                </a>
            </div>
            
        </div>
    </div>
{% endblock %}