{% extends "base.html" %}

{% block title %}StudyKaki - Find Your Partner{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <div class="landing-page">
        
        <nav class="landing-nav">
            <h1 class="landing-logo">STUDY<span class="logo-highlight">KAKI</span></h1>
        </nav>

        <div class="hero-section">
            
            <div class="hero-text-side">
                <h2 class="hero-title">
                    FIND YOUR PERFECT<br>
                    <span class="title-highlight">STUDY PARTNER</span>
                </h2>
                
                <p class="hero-description">
                    Tired of debugging alone in MMU? Join <span class="landing-logo">STUDY<span class="logo-highlight">KAKI</span></span> to find partners, post quests,
                    and earn Kaki Coins with the brightest minds.
                </p>
            </div>

            <div class="hero-btn-side">
                <a href="{{ url_for('register') }}" class="big-neo-btn btn-register">
                    NEW COMER? (REGISTER)
                </a>
                <a href="{{ url_for('login') }}" class="big-neo-btn btn-login">
                    MEMBER BACK? (LOG IN)
                </a>
            </div>
            
        </div>
    </div>
{% endblock %}