{% extends "base.html" %}

{% block title %}Notifications - StudyKaki{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/session_style.css') }}">

<div class="session-page">

    <div class="logo-text">
        STUDY<span>KAKI</span>
    </div>

    <hr class="top-line">

    <h1>Notifications</h1>

    <p class="current-user">
        Current User: <strong>{{ current_user }}</strong>
    </p>

    <a href="{{ url_for('study_session_routes.sessions') }}" class="reset-btn">
        Back to Sessions
    </a>

    <a href="{{ url_for('study_session_routes.clear_notifications') }}" class="delete-btn">
        Clear Notifications
    </a>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification-box">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% if notifications %}

        {% for notification in notifications %}

            <div class="session-card">

                <h2>Reminder</h2>

                <p>{{ notification.message }}</p>

                <p>
                    <strong>Created At:</strong>
                    {{ notification.created_at }}
                </p>

            </div>

        {% endfor %}

    {% else %}

        <div class="no-result">
            No notifications found.
        </div>

    {% endif %}

</div>

{% endblock %}